/*General styling stuff*/
* {
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  background-color: #ECF0F1;
  font-size: 14px;
}

textarea, input {
  outline: none;
  font-family: sans-serif;
}

/**
 * Utility class
 */
.hidden {
  visibility: hidden;
}

#app {
  position:absolute;
  top: 0; right:0; bottom: 0; left: 0;
  padding: 1em;
}

button {
  position:relative;
  background-color: #ABB7B7;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px #B2B2B2;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1em;
  outline:none;
  transition: background-color 0.2s;
}
button[disabled] {
  opacity:0.5;
}

button:hover {
  background-color: #C3CFCF;
}
button:active {
  top: 1px;
  box-shadow: none;
  background-color: #919C9C;
}

button.positive    { border-left: 10px solid #CAF8C7; }
button.neutral     { border-left: 10px solid #ECECEC; }
button.negative    { border-left: 10px solid #F0C4A4; }

button.invert {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #ABB7B7;
  background-color: transparent;
  box-shadow: none;
}
button.invert:hover {
  color: white;
}

button.invert.small {
    border: none;
    font-size: 0.8em;
    line-height: 19px;
}

button + button {
  margin: 0 0.5em;
}

/*Heading styles*/
span.heading {
  color: #788181;
  font-size: 1.5em;
  vertical-align: initial;
  margin-right: 1em;
}
span.subtle {
  color: #ABB7B7;
}

.main_menu {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.board-title {
  color: #788181;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  width: 250px;
  border-bottom: 1px solid #788181;
  padding: 0.5em 0;
}

/* sidebar component styles */
.sidebar {
    top: 0;
    bottom: 0;
    position: absolute;
    width: 300px;
    background-color: #6C7A89;
    color: #FFF;
    right: 0;
    padding: 1em;
    z-index: 2000;
}
.sidebar .sidebar-menu {
  clear:both;
  display:block;
  height: 2em;
}
.sidebar .sidebar-menu > * {
  float:right;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar li {
  cursor: pointer;
  padding: 1em;

}
.sidebar li:hover {
  background-color: #656E79;
}
.sidebar li.active {
  background-color: #8E9FB3;
}

.sidebar .remove-board {
  float: right;
  opacity: 0.75;
  cursor: pointer;
}
.sidebar .remove-board:hover {
  opacity: 1.0;
}

.sidebar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.sidebar .about {
  position: absolute;
  bottom: 0;
  font-size: 0.6em;
  padding: 1em;
  right: 0;
}

/*Component styles*/
.empty-state {
    position: absolute;
    left: 0;
    top: 330px;
    font-size: 3em;
    text-align: center;
    right: 0;
    color: #ABB7B7;
    opacity: 0.5;
    user-select: none;
}

.notes {
  list-style: none;
  position:relative;
}
.note {
  background-color: #FFF;
  position: absolute;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid #C1C1C1;
  box-shadow: 0px 0px 5px rgba(112, 112, 112, 0.45);
  transition: box-shadow 0.5s, transform 0.25s;
  cursor: -webkit-grab;
}
.note div {
  overflow: hidden;
  height:100%;
}
.note.improvement {
  background-color: #F0C4A4;
}
.note.neutral {
  background-color: #ECECEC;
}
.note.positive {
  background-color: #CAF8C7
}

.note.dragging {
  box-shadow: 0px 0px 20px rgba(112, 112, 112, 0.45);
  transform: scale(1.05);
  cursor: -webkit-grabbing;
}
.note.active {
  box-shadow: 0px 0px 20px #8ACBD3;
}
.note textarea {
  width:100%;
  height:100%;
  border: none;
  margin-top: 15px;
  font-size:1em;
  padding:5px;
  background-color:transparent;
}
.note button.note-remove {
  position:absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  font-size:1.5em;
  cursor:pointer;
  font-size: 1em;
  box-shadow: none;
}

.note .note-votes {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 5px;
    height: 20px;
}

.note .note-vote {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background-color: #5C97BF;;
    display: inline-block;
    margin-right: 0.5em;
}

.note .note-resize-handle {
  position: absolute;
  bottom: 0;
  right:  0;
  width:  20px;
  height: 20px;
  cursor: se-resize;
  background-color: rgba(0,0,0,0.1);
}



.note .menu {
  display:none;
}
.note.active .menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: #ECECEC;
  border: 1px solid #CCC;
  bottom: -47px;
  height: 47px;
  padding: 0.5em;
  border-radius: 2px;
}

/*
 * CSS transitions for components
*/
/* always present */
.slide-enter-active,
.slide-leave-active {
  transition: right .25s ease-out;
}
.slide-enter {
  right: -300px;
}
.slide-leave-active{
  right: -300px;
}


.flip-enter-active,
.flip-leave-active {
  transition: transform 0.33s ease-out, opacity 0.5s ease-out;
  transform: translateY(0);
}

.flip-enter,
.flip-leave-active {
  opacity: 0;
  transform: translateY(10px);
}


/**
 * Responsive styles
 *
 * @NOTE Yes the design is desktop first, so I'm going
 * to use max-width to bundle all exceptions here for now
 */
 @media screen and (max-width: 768px) {
   button {
     padding:0.75em;
   }
   .main_menu {
     display: block;
   }
   .heading {
     display:block;
     margin-bottom: 1em 0;
   }
   .note_actions {
     display: flex;
     margin: 1em 0;
   }
   .note {
     position: static;
     height: auto !important;
     width: 100% !important;
     margin: 0.5em 0;
   }
   .note.active {
     border: 1px solid #8ACBD3;
   }
   .note .note-votes {
     position: static;
     margin: 0.5em;
   }
   .note button.note-remove {
     display: none;
   }
   .note:last-child {
     margin-bottom: 3em;
   }
   .note textarea {
     resize: none;
   }
   .note.active .menu {
     position: fixed;
     left:0;
     right: 0;
     bottom: 0;
   }
 }
